.cityInput {
    margin: auto;
    width: 300px;
}

#box {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 5%;
    border-style: solid;
    border-radius: 5%;
    background-color: white;
    text-align: center;

    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#title {
    /* text-align: center; */
    text-decoration: underline;
    margin-top: 4%;
    margin-bottom: 4%;
}